# Arquivos de Segredo do Streamlit
.streamlit/secrets.toml

# Documentos e Planilhas (arquivos locais)
*.xlsx
*.xls
*.pdf

# Pastas de sistema e cache do Python
__pycache__/
.devcontainer/
.venv/
.DS_Store